doctype html
html
  head
    title Welcome to Blogging website of Indian sports club  and my name is satyam
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo 
                img(src="/static/photos/jk.jpg")
                | Indian Fitness
            li #[a(href="/") Home ]
            li #[a(href="/") About us]
            li #[a(href="/") Contact]
            li #[a(href="/") Email]
    block content
    footer#footer 
        | Copyright © 2021 IndianFitness.com | All right reserved
        