
h1{
    text-align: center;

    position: relative;
    top: 167px;
}
.formo{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.myinput{
    
    width: 30%;
    margin: 10px 10px;
    padding: 5px 8px;
    height: 29%;
    border-radius: 5px;
    
}
.but{
    display: flex;
    width: 10%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


